<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
  <%- include('partials/head') %>
</head>
<body class="min-h-full flex flex-col <%= typeof bodyClass !== 'undefined' ? bodyClass : '' %>">
  <a href="#main" class="sr-only focus:not-sr-only focus:absolute focus:left-4 focus:top-4 focus:z-50 focus:rounded-lg focus:bg-ink-700 focus:px-4 focus:py-2 focus:text-cream">Skip to content</a>

  <%- include('partials/header') %>

  <main id="main" class="flex-1">
    <%- body %>
  </main>

  <%- include('partials/footer') %>

  <script src="/js/main.js" nonce="<%= cspNonce %>" defer></script>
</body>
</html>
